.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(63, 64, 80);
    animation: fadeIn 2s ease-in-out;
}

.splash-screen h1 {
    color: aliceblue;
    font-weight: bold;
    font-size: 100px;
}
@keyframes fadeIn {
    to {
       opacity: 1;
    }
 }